/* Overflow Auto, para evitar scroll no eixo X em dispositivos Mobile */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: auto;
}

img{
  display: block;
  max-width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

input{
  padding-left: 5px;
  outline: none;
}

button{
  cursor: pointer;
}
