
/* quebra antes do footer */

.break{
    width: 100%;
    height: 220px;
    background: url("../../../public/bg-footer.jpg") no-repeat center;
    background-size: cover;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.break blockquote p{
    font-size: 1em;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    max-width: 320px;
    text-align: center;
}

.break blockquote p:before, .break blockquote p:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 20px auto;
}

.break cite{
    font-family: 2em;
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    display: block;
    margin: auto;
}

/* footer */

.footer{
    background: #000;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 40px;
}

.footer h3{
    color: #FEC63E;
    text-transform: uppercase;
}

.footer h3:after{
    content: "";
    display: block;
    margin: 10px 2px;
    width: 60px;
    height: 3px;
    background: #FEC63E;
}

.history p{
    color: #fff;
    text-align: left;
    max-width: 300px;
}

.contact ul li{
    color: #fff;
    padding: 5px 0;
}

.social_media ul{
    display: flex;
}

.social_media ul li{
    width: 50px;
    height: 50px;
    border: 4px solid #FEC63E;
    padding: 8px;
    margin: 0 3px;
    overflow-y: hidden;
}

.social_media ul li{
    width: 50px;
    height: 50px;
    border: 4px solid #FEC63E;
    padding: 8px;
    margin: 0 3px;
    overflow-y: hidden;
    transition: 0.2s;
}

.social_media ul li:hover{
    border-color: #fff;
    transition: 0.2s;
}

.social_media ul li + li{
    margin-left: 15px;
}

.rightsReserved{
    background: #FEC63E;
    width: 100%;
    padding: 20px 180px;
}

.rightsReserved p{
    font: 1em;
    color: #000;
}

/* MOBILE */

@media (max-width: 787px){
    .footer{
        flex-direction: column;
    }

    .footer > * {
        margin: 10px 0;
    }

    .break{
        padding-top: 20px;
    }

    .rightsReserved{
        padding: 20px 20px;
    }
}

@media(max-width: 520px){
    .break{
        height: fit-content;
    }

    .break blockquote p:before, .break blockquote p:after{
        margin: 10px auto;
    }

    .break cite{
        margin: 10px auto;
    }
}